<component name="ArtifactManager">
  <artifact type="war" name="springbootSecuritydemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springbootSecuritydemo.war">
      <element id="artifact" artifact-name="springbootSecuritydemo:war exploded" />
    </root>
  </artifact>
</component>